version: '3.8'

services:
  php:
    build: .
    container_name: php84-container
    ports:
      - "9000:9000"
    volumes:
      - ./src:/var/www/html
    networks:
      - magento-network

  nginx:
    image: nginx:alpine
    container_name: nginx-container
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - magento-network

networks:
  magento-network:
    driver: bridge
